In [55]:
import datetime as dt
import yfinance as yf
import pandas as pd
import numpy as np

In [21]:
stocks = ['AMZN', 'MSFT', 'META', 'GOOG']
start = dt.datetime(2012, 1, 1)-dt.timedelta(3650)
end = dt.datetime.today()
cl_price = pd.DataFrame()
ohlcv_data = {} # empty dict

In [22]:
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Close"]
cl_price

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  AMZN        MSFT        META        GOOG
Date
2002-01-03    0.595000   21.343399         NaN         NaN
2002-01-04    0.612500   21.241661         NaN         NaN
2002-01-07    0.617000   21.136839         NaN         NaN
2002-01-08    0.592500   21.389643         NaN         NaN
2002-01-09    0.576500   21.183083         NaN         NaN
...                ...         ...         ...         ...
2024-12-23  225.059998  435.250000  599.849976  195.990005
2024-12-24  229.050003  439.329987  607.750000  197.570007
2024-12-26  227.050003  438.109985  603.349976  197.100006
2024-12-27  223.750000  430.529999  599.809998  194.039993
2024-12-30  221.799103  426.554993  595.969971  193.389999

[5787 rows x 4 columns]

In [23]:
# FILLING ALL NA WITH FIRST NON NA VALUE
cl_price.fillna(method='bfill',axis = 0) # for back filling using rows

/tmp/ipykernel_57277/520666444.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cl_price.fillna(method='bfill',axis = 0) # for back filling using rows

                  AMZN        MSFT        META        GOOG
Date
2002-01-03    0.595000   21.343399   38.084518    2.490185
2002-01-04    0.612500   21.241661   38.084518    2.490185
2002-01-07    0.617000   21.136839   38.084518    2.490185
2002-01-08    0.592500   21.389643   38.084518    2.490185
2002-01-09    0.576500   21.183083   38.084518    2.490185
...                ...         ...         ...         ...
2024-12-23  225.059998  435.250000  599.849976  195.990005
2024-12-24  229.050003  439.329987  607.750000  197.570007
2024-12-26  227.050003  438.109985  603.349976  197.100006
2024-12-27  223.750000  430.529999  599.809998  194.039993
2024-12-30  221.799103  426.554993  595.969971  193.389999

[5787 rows x 4 columns]

In [25]:
cl_price.fillna(method='bfill',axis = 1) # for back filling using rows

/tmp/ipykernel_57277/610661869.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cl_price.fillna(method='bfill',axis = 1) # for back filling using rows

                  AMZN        MSFT        META        GOOG
Date
2002-01-03    0.595000   21.343399         NaN         NaN
2002-01-04    0.612500   21.241661         NaN         NaN
2002-01-07    0.617000   21.136839         NaN         NaN
2002-01-08    0.592500   21.389643         NaN         NaN
2002-01-09    0.576500   21.183083         NaN         NaN
...                ...         ...         ...         ...
2024-12-23  225.059998  435.250000  599.849976  195.990005
2024-12-24  229.050003  439.329987  607.750000  197.570007
2024-12-26  227.050003  438.109985  603.349976  197.100006
2024-12-27  223.750000  430.529999  599.809998  194.039993
2024-12-30  221.799103  426.554993  595.969971  193.389999

[5787 rows x 4 columns]

In [26]:
cl_price.dropna(axis=0,how='all'b) # remove the rows if all the values of the are nan

                  AMZN        MSFT        META        GOOG
Date
2002-01-03    0.595000   21.343399         NaN         NaN
2002-01-04    0.612500   21.241661         NaN         NaN
2002-01-07    0.617000   21.136839         NaN         NaN
2002-01-08    0.592500   21.389643         NaN         NaN
2002-01-09    0.576500   21.183083         NaN         NaN
...                ...         ...         ...         ...
2024-12-23  225.059998  435.250000  599.849976  195.990005
2024-12-24  229.050003  439.329987  607.750000  197.570007
2024-12-26  227.050003  438.109985  603.349976  197.100006
2024-12-27  223.750000  430.529999  599.809998  194.039993
2024-12-30  221.799103  426.554993  595.969971  193.389999

[5787 rows x 4 columns]

## CAGR , Buy and hold implementation

In [35]:
df = cl_price['AMZN'].copy()
df['return'] = df.pct_change()

In [36]:
df['cum_return'] = (1+df['return']).cumprod()

In [37]:
df.head()

Date
2002-01-03 00:00:00     0.595
2002-01-04 00:00:00    0.6125
2002-01-07 00:00:00     0.617
2002-01-08 00:00:00    0.5925
2002-01-09 00:00:00    0.5765
Name: AMZN, dtype: object

In [40]:
n = len(df)/252
CAGR = (df['cum_return'][-1])**(1/n)-1

/tmp/ipykernel_57277/2168288517.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1

In [41]:
CAGR

np.float64(0.2940082657079528)

In [82]:
def CAGR(df):
    df = df['Close'].copy()
    df['return'] = df.pct_change()
    df['cum_return'] = (1+df['return']).cumprod()
    n = len(df)/252
    CAGR = (df['cum_return'][-1])**(1/n)-1
    return CAGR

In [46]:
for ticker in ohlcv_data:
    print(f"CAGR for {ticker} , CAGR ={CAGR(ticker)}")

## Annualized Volatility

In [108]:
for ticker in stocks:
    temp = yf.download(ticker,period="6mo",interval='1d')
    temp.dropna(how='any',inplace=True)
    ohlcv_data[ticker] = temp

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [77]:
def volatility(DF):
    df = DF.copy()
    df.dropna(how='any',inplace=True)
    df['return'] = df['Close'].pct_change()
    vol = df['return'].std() * np.sqrt(252)
    return vol

In [78]:
for ticker in ohlcv_data:
    # print(ohlcv_data[ticker].head())
    print(f"vol of {ticker} is {volatility(ohlcv_data[ticker])}")

vol of AMZN is 0.3091939282264988
vol of MSFT is 0.20658744524641032
vol of META is 0.30465879621638287
vol of GOOG is 0.27755865048185924

In [85]:
# sharpe
for ticker in ohlcv_data:
    sharpe = (CAGR(ohlcv_data[ticker]) - 0.03 / volatility(ohlcv_data[ticker]))
    print(f"sharpe of {ticker} is {sharpe}")

sharpe of AMZN is 0.1710031996109384
sharpe of MSFT is -0.2664540903291109
sharpe of META is 0.29731141758208285
sharpe of GOOG is -0.0009913110208303322

/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1
/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1
/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1
/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1

In [122]:
def sortino(DF,rf):
    DF.dropna(how='any',inplace=True)
    df = DF.copy()
    df['return'] = df['Close'].pct_change()
    neg_ret = np.where(df['return'] > 0,0,df['return'])
    neg_vol = pd.Series(neg_ret[neg_ret!=0]).std() * np.sqrt(252)
    return (CAGR(df) - rf)/neg_vol

In [123]:
# sortino
for ticker in ohlcv_data:
    # print(ohlcv_data[ticker]['Close'].columns)
    print(f"sharpe of {ticker} is {sortino(ohlcv_data[ticker],0.03)}")

sharpe of AMZN is 0.9986489229208009
sharpe of MSFT is -0.8663563921644082
sharpe of META is 1.6909821964468523
sharpe of GOOG is 0.36515938930185

/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1
/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1
/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1
/tmp/ipykernel_57277/1545084155.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  CAGR = (df['cum_return'][-1])**(1/n)-1

In [117]:
def max_drawdown(DF):
    df = DF.copy()
    df['return'] = df['Close'].pct_change()
    df['cum_return'] = (1+df['return']).cumprod()
    df['cum_roll_max'] = df['cum_return'].cummax()
    df['drawdown'] = df['cum_roll_max'] - df['cum_return']
    return (df['drawdown']/df['cum_roll_max']).max()

In [118]:
# max draw down
for ticker in ohlcv_data:
    print(f"max draw down of {ticker} is {max_drawdown(ohlcv_data[ticker])}")

max draw down of AMZN is 0.19489997863769548
max draw down of MSFT is 0.15486782863320248
max draw down of META is 0.1602118312439254
max draw down of GOOG is 0.22279230359186986